.detail1{
    background-color: rgb(74, 14, 82);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0px;
    height: 100px;
    width:350px;
    box-shadow: rgba(5, 5, 5, 0.1)0px 4px 12px;
    text-align: left;
    padding: 10px;
    color: rgb(23, 199, 184);
}
.space{
    padding: 10px;
}